.services--main {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 767px) {
  /* Your CSS rules for small screens go here */
  .services--main {
    grid-template-columns: 1fr;
  }
}

/* For screens between 768px and 992px (typical tablets) */
@media (min-width: 768px) and (max-width: 1349px) {
  /* Your CSS rules for medium-sized screens go here */
  .services--main {
    grid-template-columns: 1fr 1fr;
  }
}

/* For screens larger than 992px (typical desktops and laptops) */
@media (min-width: 1350px) {
  /* Your CSS rules for large screens go here */
  .services--main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
